:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --document-disabled: rgba(125, 151, 218, 0.8);
  --light-grey: #e5eaf8;
  --black-text: #1e0606;
  --border--input: rgba(0, 0, 0, 0.2);
  --border-checkbox: #c29974;
  --button-form-disabled: #c1c1c1;
  --button-disabled: #c7c1c1;
  --text-disabled: #e1e1e1;
  --shadow-link: rgba(147, 3, 3, 0.25);
  --stripes-slider: #725f5b;
  --light-brow: #d6cac2;
  --bg-slider: #eee4db;
  --brow: #c29974;
  --light-blue: #e1f0f7;
  --footer-bg: #434343;
  --footer-title: #aaaaaa;
  --footer-email: #ebebeb;
  --footer-email-border: #fffdfd;
  --hover-star: #836E5B;
  --social-bg: #666666;
  --web-design-text: #a2a2a2;
  --pink: #f3d0db;
  --light-pink: #eddeeb;
  --toy-form-bg: rgba(125, 151, 218, 0.2);
  --btn-active: #cfaf91;
  --input-disabled: #908484;
}

/*font-family: 'Open Sans', Arial, sans-serif;*/
/*font-family: 'Crimson Text', Arial, serif;*/
/*font-family: 'Montserrat', Arial, sans-serif;*/
/*font-family: 'Roboto', Arial, sans-serif;*/

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: var(--basic-white);
  padding: 0;
  margin: 0;
  min-width: 1163px;

  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--black-text);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--basic-white);
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  object-fit: contain;
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.title {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
}

.main-title {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.link {
  padding: 9px 22px;
  background-color: var(--basic-black);

  color: var(--basic-white);
  text-transform: uppercase;
  font-weight: 700;
}

.link:disabled {
  color: var(--text-disabled);
  background-color: var(--button-form-disabled);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*checkbox-homemade*/
.checkbox-wrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.checkbox-homemade {
  position: relative;
}

.checkbox-homemade:before,
.checkbox-homemade:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;

  transform: translateY(-50%);

  width: 19px;
  height: 19px;
}

.checkbox-homemade:before {
  background-image: url("../img/svg/mark.svg");
  background-position: 3px 0;
  background-repeat: no-repeat;
  display: none;
  z-index: 1;
}

.checkbox:checked ~ .checkbox-homemade:before {
  display: block;
}

.checkbox-homemade:after {
  border: 2px solid var(--brow);
  border-radius: 2px;
}

.checkbox:focus ~ .checkbox-homemade:after {
  outline: 2px solid var(--basic-black);
}

.checkbox:checked ~ .checkbox-homemade:after {
  background-color: var(--basic-white);
}

/**header**/
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  color: var(--black-text);
  line-height: 19px;
  text-transform: uppercase;

  margin: 50px auto 37px;
}

.header__link:hover,
.header__list-menu__link:hover,
.header__search:hover,
.header__contact-link:hover {
  opacity: 0.5;
}

.header__link:active,
.header__list-menu__link:active,
.header__search:active,
.header__contact-link:active {
  opacity: 0.2;
}

.header__wrap-nav {
  display: flex;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;

  margin-left: 60px;
  padding-bottom: 5px;
}

.header__list-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 20px;
}

.header__list-menu__link {
  font-size: 14px;
}

.header__wrap-search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 5px;
}

.header__search:hover {
  cursor: pointer;
}

.header__contact-link {
  font-weight: 700;
  margin-left: 21px;
  font-size: 14px;
}

/*categories*/
.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.categories__item {
  position: relative;
}

.categories__link {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.categories__link:hover {
  text-decoration: underline;
  text-decoration-color: var(--basic-white);
}

.categories__subtitle {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  text-shadow: 0 0 40px var(--shadow-link);
  color: var(--basic-white);
  text-align: center;
}

/**footer**/
/*footer*/
.footer {
  background-color: var(--footer-bg);
  color: var(--basic-white);
}

/*footer__inner-wrap*/
.footer__inner-wrap {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;

  padding: 100px 0;
}

/*footer__navigation*/
.footer__navigation {
  max-width: 380px;
  width: 100%;
}

.footer__navigation__title {
  font-size: inherit;
  font-weight: inherit;
  color: var(--footer-title);

  padding-bottom: 23px;
  margin-bottom: 29px;

  position: relative;
}

.footer__navigation__title::before {
  content: "";
  display: block;
  background-color: var(--social-bg);

  width: 100%;
  height: 1px;

  position: absolute;
  bottom: 0;
  left: 0;
}

.footer__navigation__list-item {
  margin-bottom: 15px;
}

.footer__navigation__list-link:hover {
  opacity: 0.5;
}

.footer__navigation__list-link:active {
  opacity: 0.2;
}

.footer__navigation__form {
  display: flex;
  flex-wrap: wrap;
  margin-top: -3px;
}

.footer__navigation__wrap-join {
  padding: 0;
  margin: 0;
  border: none;
  flex-grow: 1;
}

.footer__navigation__email {
  background-color: var(--social-bg);
  padding: 11px 16px;
  width: 100%;
  color: var(--footer-email);
  border: none;
}

/*footer-list*/
.footer-list {
  display: flex;
  margin: 25px 0 0 2px;
  gap: 10px;
}

.footer-list__link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.footer-list__link:hover {
  opacity: 0.5;
}

.footer-list__link:active {
  opacity: 0.2;
}

.footer-list__link--feecbook {
  background: url("../img/svg/feecbook.svg") 50% 50% no-repeat, var(--social-bg);
}

.footer-list__link--twitter {
  background: url("../img/svg/twitter.svg") 50% 50% no-repeat, var(--social-bg);
}

.footer-list__link--pinterest {
  background: url("../img/svg/pinterest.svg") 50% 50% no-repeat, var(--social-bg);
}

.footer-list__link--instagram {
  background: url("../img/svg/instagram.svg") 50% 50% no-repeat, var(--social-bg);
}


/*footer__info*/
.footer__info {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;

  position: relative;

  padding-top: 24px;
  margin-top: 13px;
}

.footer__info::before {
  content: "";
  display: block;
  background-color: var(--social-bg);

  width: 100%;
  height: 1px;

  position: absolute;
  top: 0;
  left: 0;
}

/*footer__info__rating*/
.footer__info__rating,
.footer__info__copyright,
.footer__info__developer {
  max-width: 380px;
  width: 100%;
}

.footer__info__rating {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer__info__wrap-stars {
  height: 13px;
  width: 95px;
  margin-left: 28px;
  order: 1;

  position: relative;

  background: url("../img/svg/star.svg"),
  url("../img/svg/star.svg") 20px,
  url("../img/svg/star.svg") 40px,
  url("../img/svg/star.svg") 60px,
  url("../img/svg/star.svg") 80px;
  background-repeat: no-repeat;
}

.footer__info__rating__radio {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  display: block;
  height: 13px;

  position: absolute;
  top: 0;
  left: 0;
}

.footer__info__rating__radio:hover,
.footer__info__rating__radio:hover ~ .footer__info__rating__radio {
  background: url("../img/svg/star.svg"),
  url("../img/svg/star.svg") 20px,
  url("../img/svg/star.svg") 40px,
  url("../img/svg/star.svg") 60px,
  url("../img/svg/star.svg") 80px,
  var(--footer-bg);
  background-repeat: no-repeat;
}

.footer__info__rating__radio:checked {
  background: url("../img/svg/star-active.svg"),
  url("../img/svg/star-active.svg") 20px,
  url("../img/svg/star-active.svg") 40px,
  url("../img/svg/star-active.svg") 60px,
  url("../img/svg/star-active.svg") 80px,
  var(--footer-bg);
  background-repeat: no-repeat;
}

.footer__info__rating__radio:hover {
  background: url("../img/svg/star-hover.svg"),
  url("../img/svg/star-hover.svg") 20px,
  url("../img/svg/star-hover.svg") 40px,
  url("../img/svg/star-hover.svg") 60px,
  url("../img/svg/star-hover.svg") 80px,
  var(--footer-bg);
  background-repeat: no-repeat;
}

.footer__info__rating__radio--1 {
  width: 15px;
  z-index: 5;
}

.footer__info__rating__radio--2 {
  width: 35px;
  z-index: 4;
}

.footer__info__rating__radio--3 {
  width: 55px;
  z-index: 3;
}

.footer__info__rating__radio--4 {
  width: 75px;
  z-index: 2;
}

.footer__info__rating__radio--5 {
  width: 95px;
  z-index: 1;
}

.footer__info__wrap-stars:hover ~ .footer__info__rating__text {
  color: var(--brow);
}

.footer__info__developer__link {
  color: var(--web-design-text);
}

.footer__info__developer__link:hover {
  color: var(--basic-white);
  text-decoration: underline;
}

/**feedback**/
/*feedback*/
.feedback {

}

/*feedback-form*/
.feedback-form {
  background-color: var(--light-grey);
  padding: 42px 40px;
  position: relative;
}

/*feedback-form__data*/
.feedback-form__data {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;

  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 600px;
  margin-bottom: 20px;
}

/*feedback-form__wrap-input*/
.feedback-form__wrap-input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 100%;
}

.feedback-form__wrap-input--email,
.feedback-form__wrap-input--phone {
  flex-basis: calc(100% / 2 - 10px);
  margin-bottom: 2px;
}

.feedback-form__data__label {
  margin-bottom: 6px;
}

.feedback-form__data__input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 16px;
}

.feedback-form__data__input--textarea {
  min-height: 150px;
}

/*feedback-form__personal-data*/
.feedback-form__personal-data {
  font-size: 14px;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 16px;
}

.feedback-form__personal-data__label {
  display: block;

  padding-left: 34px;
  margin-bottom: 20px;
}
