/**slider**/
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  background: url(../img/monster.png) no-repeat 82% -1px, -webkit-gradient(linear, left top, left bottom, color-stop(18%, var(--basic-white)), color-stop(18%, var(--bg-slider)));

  background: url(../img/monster.png) no-repeat 82% -1px, -o-linear-gradient(var(--basic-white) 18%, var(--bg-slider) 18%);

  background: url(../img/monster.png) no-repeat 82% -1px, linear-gradient(var(--basic-white) 18%, var(--bg-slider) 18%);

  padding-top: 105px;
}

/*slider navigation*/
.slider__navigation {
  margin: 0 44px 0 30px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.slider__navigation__counter {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 200;
  font-size: 60px;
  line-height: 73px;

  display: inline-block;
  margin-bottom: 10px;
  opacity: 0.05;
}

.slider__navigation__list {
  margin: 1px 0 0 2px;
}

.slider__navigation__item {
  line-height: 0;
  font-size: 0;
}

.slider__navigation__button {
  width: 31px;
  height: 3px;
  margin-bottom: 11px;
  background-color: var(--light-brow);
  cursor: pointer;
}

.slider__navigation__item--active .slider__navigation__button {
  background-color: var(--black-text);
  opacity: 0.6;
}

/*slider info*/
.slider__info {
  padding: 0 28px 89px 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.slider__info__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  text-transform: uppercase;

  margin-bottom: 18px;
  margin-top: 74px;

  max-width: 580px;
}

.slider__info__subtitle {
  font-family: 'Crimson Text', Arial, serif;
  font-size: 20px;
  line-height: 26px;
  font-style: italic;

  margin-bottom: 20px;
}

/*slider__delivery*/
.slider__delivery-text {
  background-color: var(--brow);
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding: 11px;

  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;

  -webkit-box-ordinal-group: 4;

  -ms-flex-order: 3;

  order: 3;
}

/**products-slider**/
/*.products-slider*/
.products-slider {
  padding: 92px 0 89px;
}

.products-slider__title {
  margin-bottom: 30px;
}

/*products-slider__slides*/
.products-slider__slides {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
}

/*products-slider__navigation*/
.products-slider__navigation__arrow {
  display: inline-block;
  width: 37px;
  height: 37px;
  background-color: var(--light-blue);
  position: relative;
}

.products-slider__navigation__arrow::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;

  position: absolute;
  top: 50%;
  right: 50%;

  border-top: 4px solid var(--black-text);
  border-right: 4px solid var(--black-text);

}

.products-slider__navigation__arrow-left {
  margin-right: 6px;
}

.products-slider__navigation__arrow-left::before {
  -webkit-transform: translate(75%, -50%) rotate(-135deg);
  -ms-transform: translate(75%, -50%) rotate(-135deg);
  transform: translate(75%, -50%) rotate(-135deg);
}

.products-slider__navigation__arrow-right::before {
  -webkit-transform: translate(28%, -50%) rotate(45deg);
  -ms-transform: translate(28%, -50%) rotate(45deg);
  transform: translate(28%, -50%) rotate(45deg);
}

.products-slider__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 31px;
}

.products-slider__navigation__text {
  margin: 0 20px;
  max-width: 595px;
}

/**services**/
/*services*/
.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 91px;
}

.services__inner-wrap {
  -ms-flex-preferred-size: 609px;
  flex-basis: 609px;
  padding-left: 122px;

  -webkit-box-ordinal-group: 2;

  -ms-flex-order: 1;

  order: 1;
}

.services__list {
  margin-bottom: 23px;
}

.services__title {
  margin: 31px 0 5px;
}

.services__list-item__button {
  font-family: 'Crimson Text', Arial, serif;
  text-align: start;
  font-style: italic;
  font-size: 26px;
  line-height: 34px;

  min-width: 326px;
  padding: 10px 60px 9px;
  margin: 1px 0 0 -60px;
}

.services__list-item--active .services__list-item__button {
  background-color: var(--light-blue);
  font-weight: 700;
}

.services__text {
  margin-bottom: 15px;
}

.services__link {
  margin-top: 11px;
}

.services__img {
  width: 480px;
  height: 559px;
  background-image: url("../img/delivery_woman.jpg");
  background-color: var(--light-blue);
}

/**partners**/
/*partners*/
.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 127px;

  margin: 89px 0;
}

/**about-us**/
/*about-us*/
.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 57px;

  padding-bottom: 155px;
}

/*about-us__section*/
.about-us__section {
  background: -o-linear-gradient(var(--basic-white) 29px, var(--light-blue) 29px);
  background: linear-gradient(var(--basic-white) 29px, var(--light-blue) 29px);
  -ms-flex-preferred-size: 46%;
  flex-basis: 46%;
  padding: 3px 31px 27px;
}

.about-us__title {
  margin-bottom: 8px;
}

.about-info__subtitle {
  font-family: 'Crimson Text', Arial, serif;
  font-style: italic;
  font-size: 26px;
  line-height: 34px;

  margin-bottom: 11px;
}

.about-info__link {
  margin-top: 21px;
}

/*about-contacts*/
.about-contacts__title {
  margin-bottom: 20px;
}

.about-contacts__text {
  margin-bottom: 29px;
}

.about-contacts__map {
  margin-bottom: -156px;
}

/**popup**/
/*popup*/
.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;
  background-color: var(--document-disabled);

  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.popup--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup__close {
  top: 0;
  right: -35px;
  position: absolute;
  width: 17px;
  height: 17px;
  background-color: initial;
}

.popup__close:hover {
  opacity: 0.7;
}

.popup__close:active {
  opacity: 0.4;
}

.popup__close:after,
.popup__close:before {
  content: "";
  position: absolute;
  top: 7px;
  right: -2px;

  width: 20px;
  height: 3px;

  border-radius: 2px;

  background-color: var(--basic-white);
}

.popup__close:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup__close:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
